<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>IwontForget</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>alarm_recorder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2529431792707464~8838597133</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>x-dispatch</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>ymail</string>
		<string>fastmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAPPTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>iWontForget need access music to add it to the recordList to remind you when you need to hear the audio again </string>
	<key>NSCalendarsUsageDescription</key>
	<string>iWontForget need to access your calendar events</string>
	<key>NSCameraUsageDescription</key>
	<string>iWontForget Need access  to the camera to upload Image into the note </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>IwontForget need access to the location for measure the distance between your current location and your destination  to remind you with note .</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>IwontForget need access to the location for measure the distance between your current location and your destination  to remind you with note </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>IwontForget need access to the location for measure the distance between your current location and your destination  to remind you with note </string>
	<key>NSMicrophoneUsageDescription</key>
	<string>IwontForget need access to the microphone to record your speech to use it to the reminder </string>
	<key>NSMotionUsageDescription</key>
	<string>Motion activity is used to increase battery life by intelligently toggling location-services off when device is stationary</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>iWontForget Need access to the PhotoLibrary to upload Image into the note </string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
